body{
  margin: 0;
  background: #435d81;
  color: #fff;
}

#root{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.calculator-grid{
  display: grid;
  grid-template-rows: 15vh 55vh;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 10vw);
  gap: 10px;
}

.span-two{
  grid-column: span 2;
}

button {
  border: none;
  background: #354357;
  transition: all 1s;
  font-size: 2rem;
}
button:hover{
  background: #6c63ff;
}

.output{
  display: grid;
  place-content: center end;
}